#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* padding: 1rem; */
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 0;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header:not(.open) button {
  display: none;
}

header h1,
.header h1 {
  padding-bottom: 0.5rem;
}

.open-nav-button {
  border: none;
  padding: 0.25rem;
  box-shadow: none;
  font-size: 1.2rem;
}

.open-nav-button:hover {
  transform: translate(0);
  box-shadow: 0;
  opacity: 0.6;
}

nav {
  padding: 1rem;
  padding-top: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background-primary);
  z-index: 10;
}

nav div:first-of-type {
  padding-top: 1rem;
  position: sticky;
  top: 0;
  background: var(--background-primary);
  z-index: 14;
}

nav:not(.open) {
  display: none;
}

nav h1 {
  padding: 0.25rem 0;
}

nav input {
  font-size: 0.8rem;
  /* padding: 0.25rem; */
}

h3 {
  padding-top: 1rem;
}

.nav-card {
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.25rem 0.5rem;
}

.nav-card:hover {
  transform: translate(0);
  box-shadow: none;
  background: var(--background-muted);
}

.nav-card-selected {
  background: var(--background-muted);
  border: 1px solid (--border-primary)
}

.nav-card p:first-of-type {
  font-weight: 100;
}

.poke-card {
  padding: 1rem;
  width: 100%;
  /* border-radius: var(--border-radius-large);
  border: 1px solid var(--border-secondary); */
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.default-img {
  width: 240px;
}

.img-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.type-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.type-tile {
  padding: 0.1rem 0.5rem;
  border-radius: var(--border-radius-small);
  font-size: 0.8rem;
  width: fit-content;
  font-weight: 600;
}

.stats-card {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 0.25rem 1rem;
}

.pokemon-move-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.stat-item p,
.pokemon-move p {
  text-transform: capitalize;
  white-space: nowrap;
}

.pokemon-move p {
  margin: 0 auto;
}


.pokemon-move {
  width: 100%;
  flex: 1;
}

.skill-name {
  text-transform: capitalize;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding: 1rem;
}

.modal-underlay {
  position: absolute;
  inset: 0;
  background: var(--background-muted);
  opacity: 0.8;
  z-index: 99;
  border: none;
  width: 100%;
  box-shadow: unset;
}

.modal-underlay:hover {
  transform: translate(0);
  box-shadow: unset;
}

.modal-content {
  position: relative;
  z-index: 101;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 400px;
  border-radius: var(--border-radius-large);
  border: 1px solid var(--border-primary);
  background: var(--background-primary);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  gap: 1rem;

}

@media (min-width: 640px) {
  #root {
    flex-direction: row;
    align-items: stretch;
    gap: 0rem;
  }

  header {
    display: none;
  }

  nav {
    display: flex;
    position: sticky;
    width: fit-content;
    min-width: 200px;

  }

  nav:not(.open) {
    display: flex;
  }

  nav div:first-of-type {
    position: relative;
  }

  .poke-card {
    padding: 2rem 1rem;
  }

  .header button {
    display: none;
  }
}